@use "breakpoints" as *;

.button {
  padding: fluid(13) fluid(20);
  backdrop-filter: blur(24px);
  color: var(--color-white);
  background: var(--color-black-100-20);
  font-family: var(--font-display), serif;
  font-size: var(--fs-button);
  letter-spacing: 0.05em;
  cursor: pointer;
  transition: background-color 0.5s, scale 0.3s;

  @media (hover: hover) {
    &:hover {
      background: var(--color-black-100-60);
      scale: 1.1;
    }
  }
}
